<a href="https://colab.research.google.com/github/coldsober-irene/AIF-machine-learning/blob/main/model_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [77]:
from google.colab import drive
drive.mount("/content/drive")
import pandas as pd
import numpy as np
import sklearn
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score # for measuring model performance

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# break the limitation of number of rows to indicate in a frame.
pd.set_option("max_rows", None)
# break the limitation of number of columns to indicate in a frame.
pd.set_option("max_columns", None)

In [ ]:
# change directory
import os
# os.listdir("/content/drive/MyDrive/AIF progress/machine learning/data")
os.chdir("/content/drive/MyDrive/AIF progress/machine learning/data")

In [ ]:
# read excel file with pandas
df = pd.read_excel(os.listdir()[0])

In [ ]:
df.columns = df.iloc[1]
df
#df = df.iloc[8:] # remove first 7 rows which are empty
#df

In [ ]:
# fill NAN with 0
df = df.fillna(0)
df

In [ ]:
# convert date into numerical data
encoder = LabelEncoder()
for row in range(len(df)):
  df.iloc[row]['Time'] = str(df.iloc[row]['Time'])
# create a new column of digit formed from time label
df["New Time"] = encoder.fit_transform(df["Time"])

In [ ]:
df

In [ ]:
# remove NAN value from the dataframe
df = df.fillna(0)[2:]

In [ ]:
# modify columns
cols = list(df.columns)
cols
cols[cols.index("Motor RPM")] = "Motor RPM 1"
cols[cols.index("Screw RPM")] = "Screw RPM 1"
df.columns = cols

In [ ]:
df

In [59]:
# choose datasets
x_train = df.iloc[0:60,[-1, 5]][6:]
y_train = df.iloc[0:60,6][6:]
x_test = df.iloc[60:,[-1, 5]][6:]
y_test = df.iloc[60:,6][6:]

In [ ]:
# feed data to the model
model = LinearRegression()
model.fit(x_train, y_train)

In [ ]:
pred_screwSpeed = model.predict([[5, 1500]])

In [80]:
pred_screwSpeed

array([317.93075698])

In [78]:
# measure the performance of the model
performance = r2_score(y_test, model.predict(x_test))
print("performane: ", performance)

performane:  0.9798918242765937

In [64]:
df[["New Time","Time"]]

    New Time      Time
2          3  09:00:00
3          4  12:00:00
4          5  15:00:00
5          6  18:00:00
6          7  21:00:00
7          8  23:00:00
8          0  01:00:00
9          1  04:00:00
10         2  07:00:00
11        10       nan
12         3  09:00:00
13         4  12:00:00
14         5  15:00:00
15         6  18:00:00
16         7  21:00:00
17         8  23:00:00
18         0  01:00:00
19         1  04:00:00
20         2  07:00:00
21        10       nan
22         3  09:00:00
23         4  12:00:00
24         5  15:00:00
25         6  18:00:00
26         7  21:00:00
27         8  23:00:00
28         0  01:00:00
29         1  04:00:00
30         2  07:00:00
31        10       nan
32         3  09:00:00
33         4  12:00:00
34         5  15:00:00
35         6  18:00:00
36         7  21:00:00
37         8  23:00:00
38         0  01:00:00
39         1  04:00:00
40         2  07:00:00
41        10       nan
42         3  09:00:00
43         4  12:00:00
44         5  15:00:00
45         6  18:00:00
46         7  21:00:00
47         8  23:00:00
48         0  01:00:00
49         1  04:00:00
50         2  07:00:00
51        10       nan
52         3  09:00:00
53         4  12:00:00
54         5  15:00:00
55         6  18:00:00
56         7  21:00:00
57         8  23:00:00
58         0  01:00:00
59         1  04:00:00
60         2  07:00:00
61        10       nan
62         3  09:00:00
63         4  12:00:00
64         5  15:00:00
65         6  18:00:00
66         7  21:00:00
67         8  23:00:00
68         0  01:00:00
69         1  04:00:00
70         2  07:00:00
71        10       nan
72         3  09:00:00
73         4  12:00:00
74         5  15:00:00
75         6  18:00:00
76         7  21:00:00
77         8  23:00:00
78         0  01:00:00
79         1  04:00:00
80         2  07:00:00